$font-roboto:'Roboto', sans-serif;

$font-main: 'PT Sans', sans-serif;

$color-primary: #2979ff;

$color-dark: #212121;

$color-warning: #d50000;

$color-sucess: #11c339;

$color-blue: #2f8ebf;

$color-darkblue: #0b3552;

$color-main: #0079ae;

$box-shadow-default: 2px 2px 4px rgba(0, 0, 0, 0.1);

$spacing: 10px;

$spacing-double: ($spacing * 2);

